.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 15px;
    background-color: skyblue;
}

.columns {
    display: flex;
    gap: 5px;
    justify-content: center;
    text-align: center
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.operators {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.other {
    display: flex;
    flex-direction: row;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    max-width: 250px;
}

button {
    padding: 25px;
    margin: 5px;
}

h3 {
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: gray;
}

