.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 15px;
    background-color: #3B0855;
    border-radius: 15px;
    
}

.columns {
    display: flex;
    justify-content: center;
    background-color: #852467;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.operators {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.opbtn,
#equalBtn {
    background-color: #EE227D;
}

.other {
    display: flex;
    flex-direction: row;
}

.otherBtn {
    background-color: #30C0B7;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
}

.numBtn {
    background-color: #498099;
    
}

button {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 5px;
    font-size: 32px;
    width: 90px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    border-color: #3B0855;
}

h3 {
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: #FD8083;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 48px;
}

#zero {
    display: flex;
    width: 190px;
}

